# Importing Dependencies

In [40]:
import pandas as pd
import numpy as np

# Importing the dataset

In [41]:
df=pd.read_csv('/content/SmartCrowd_Data.csv')

In [ ]:
df.head()

,Field1,Field2,Title,Image,funded,Number,pill,pill1,block80,Address,Keywords,Info,Info2,Info3,Info4,Info5,Info6,Info7,Price,View
0,NaN,"780,000.00","385,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,NaN,52 investors,Vacant,Studio,"Beautiful Studio in Crystal Residences, JVC","Dubai, United Arab Emirates",48.43%\nFunded,Gross Yield 9.87%,Expected return40.00%,40.00%,Dividend 7.79%,Starts from 231.00 AED,Dividends Frequency Monthly,Monthly,Funding Target (AED),NaN
1,NaN,"780,000.00","1,250,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,NaN,64 investors,Holiday Home,2 Beds,"2 Bedroom in Burj Al Nujoom, Downtown","Dubai, United Arab Emirates",43.01%\nFunded,Gross Yield 16.13%,Expected return53.00%,53.00%,Dividend 9.99%,Starts from 250.00 AED,Dividends Frequency Monthly,Monthly,Funding Target (AED),NaN
2,NaN,"780,000.00","1,227,500.00",https://sc-file-storage.my.smartcrowd.ae/files...,NaN,NaN,Vacant,2 Beds,"Birmingham, United Kingdom","Birmingham, United Kingdom",0.00%\nFunded,Gross Yield 6.39%,Expected return40.00%,40.00%,Dividend 4.66%,Starts from 491.00 AED,Dividends Frequency Monthly,Monthly,Funding Target (AED),NaN
3,NaN,"780,000.00","530,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,EXITED,53 investors,Holiday Home,Studio,Bay Central Studio,"Dubai, United Arab Emirates",NaN,"Total return 243,935.65 AED",ROI 40.95 %,40.95 %,Annualized Return 29.20 %,NaN,NaN,NaN,Funding Target (AED),VIEW DETAILS
4,NaN,"780,000.00","780,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,178 investors,Holiday Home,Studio,"Studio in 8 Boulevard Walk, Downtown","Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 14.91%,Expected return45.00%,45.00%,Dividend 9.34%,Starts from 468.00 AED,Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS

In [ ]:
df.columns

Index(['Field1', 'Field2', 'Title', 'Image', 'funded', 'Number', 'pill',
       'pill1', 'block80', 'Address', 'Keywords', 'Info', 'Info2', 'Info3',
       'Info4', 'Info5', 'Info6', 'Info7', 'Price', 'View'],
      dtype='object')

# Data size

In [ ]:
df.shape

(77, 20)

## There are total 20 columns and 77 rows

# Data Cleaning

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Field1    0 non-null      float64
 1   Field2    77 non-null     object
 2   Title     77 non-null     object
 3   Image     77 non-null     object
 4   funded    74 non-null     object
 5   Number    76 non-null     object
 6   pill      77 non-null     object
 7   pill1     72 non-null     object
 8   block80   77 non-null     object
 9   Address   77 non-null     object
 10  Keywords  76 non-null     object
 11  Info      77 non-null     object
 12  Info2     77 non-null     object
 13  Info3     77 non-null     object
 14  Info4     77 non-null     object
 15  Info5     76 non-null     object
 16  Info6     76 non-null     object
 17  Info7     76 non-null     object
 18  Price     77 non-null     object
 19  View      74 non-null     object
dtypes: float64(1), object(19)
memory usage: 12.2+ KB

## Almost all the columns are of object type

In [ ]:
df.describe()

       Field1
count     0.0
mean      NaN
std       NaN
min       NaN
25%       NaN
50%       NaN
75%       NaN
max       NaN

## dropping field1 column as it does not have any non-null value

In [42]:
df.drop(columns='Field1',axis=1,inplace=True)

In [ ]:
df.isna().sum()

Field2      0
Title       0
Image       0
funded      3
Number      1
pill        0
pill1       5
block80     0
Address     0
Keywords    1
Info        0
Info2       0
Info3       0
Info4       0
Info5       1
Info6       1
Info7       1
Price       0
View        3
dtype: int64

In [ ]:
df['pill1'].value_counts()

 Studio         41
 1 Bed          20
2 Beds           7
Vacant           3
Holiday Home     1
Name: pill1, dtype: int64

### we can handle the null values in the pill1 column either by replacing all none with Studio since it is the most frequent category or we can remove it,
### but the dataset is pretty small removing 5 null values will make its row count to 72.

In [ ]:
df[df['pill1'].isna()]

,Field2,Title,Image,funded,Number,pill,pill1,block80,Address,Keywords,Info,Info2,Info3,Info4,Info5,Info6,Info7,Price,View
63,"780,000.00","450,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,58 investors,1 Bed,NaN,JLT Studio or 1 BHK SmartCrowd PLUS,"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 10.00%,Expected return0.00%,0.00%,Dividend 7.49%,"Starts from 2,520.00 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
73,"780,000.00","841,500.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,35 investors,1 Bed,NaN,Marina Quays ( Dubai Marina),"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 10.99%,Expected return75.81%,75.81%,Dividend 8.12%,"Starts from 14,978.70 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
74,"780,000.00","475,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,16 investors,Rented,NaN,Marina Diamond 1 (Studio),"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 11.81%,Expected return0.00%,0.00%,Dividend 7.67%,"Starts from 19,997.50 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
75,"780,000.00","500,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,8 investors,Rented,NaN,Lake View Studio,"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 11.00%,Expected return61.19%,61.19%,Dividend 8.72%,"Starts from 5,000.00 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
76,"780,000.00","365,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,9 investors,Rented,NaN,Remraam Studio Apartment,"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 10.68%,Expected return55.25%,55.25%,Dividend 8.79%,"Starts from 50,001.35 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.dropna(how='all',axis=0)

,Field2,Title,Image,funded,Number,pill,pill1,block80,Address,Keywords,Info,Info2,Info3,Info4,Info5,Info6,Info7,Price,View
0,"780,000.00","385,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,NaN,52 investors,Vacant,Studio,"Beautiful Studio in Crystal Residences, JVC","Dubai, United Arab Emirates",48.43%\nFunded,Gross Yield 9.87%,Expected return40.00%,40.00%,Dividend 7.79%,Starts from 231.00 AED,Dividends Frequency Monthly,Monthly,Funding Target (AED),NaN
1,"780,000.00","1,250,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,NaN,64 investors,Holiday Home,2 Beds,"2 Bedroom in Burj Al Nujoom, Downtown","Dubai, United Arab Emirates",43.01%\nFunded,Gross Yield 16.13%,Expected return53.00%,53.00%,Dividend 9.99%,Starts from 250.00 AED,Dividends Frequency Monthly,Monthly,Funding Target (AED),NaN
2,"780,000.00","1,227,500.00",https://sc-file-storage.my.smartcrowd.ae/files...,NaN,NaN,Vacant,2 Beds,"Birmingham, United Kingdom","Birmingham, United Kingdom",0.00%\nFunded,Gross Yield 6.39%,Expected return40.00%,40.00%,Dividend 4.66%,Starts from 491.00 AED,Dividends Frequency Monthly,Monthly,Funding Target (AED),NaN
3,"780,000.00","530,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,EXITED,53 investors,Holiday Home,Studio,Bay Central Studio,"Dubai, United Arab Emirates",NaN,"Total return 243,935.65 AED",ROI 40.95 %,40.95 %,Annualized Return 29.20 %,NaN,NaN,NaN,Funding Target (AED),VIEW DETAILS
4,"780,000.00","780,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,178 investors,Holiday Home,Studio,"Studio in 8 Boulevard Walk, Downtown","Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 14.91%,Expected return45.00%,45.00%,Dividend 9.34%,Starts from 468.00 AED,Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,"780,000.00","683,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,25 investors,Rented,1 Bed,Al Arta 1 (1 Bed),"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 9.37%,Expected return0.00%,0.00%,Dividend 6.54%,"Starts from 4,985.90 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
73,"780,000.00","841,500.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,35 investors,1 Bed,NaN,Marina Quays ( Dubai Marina),"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 10.99%,Expected return75.81%,75.81%,Dividend 8.12%,"Starts from 14,978.70 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
74,"780,000.00","475,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,16 investors,Rented,NaN,Marina Diamond 1 (Studio),"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 11.81%,Expected return0.00%,0.00%,Dividend 7.67%,"Starts from 19,997.50 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
75,"780,000.00","500,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,8 investors,Rented,NaN,Lake View Studio,"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 11.00%,Expected return61.19%,61.19%,Dividend 8.72%,"Starts from 5,000.00 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS
76,"780,000.00","365,000.00",https://sc-file-storage.my.smartcrowd.ae/files...,FUNDED,9 investors,Rented,NaN,Remraam Studio Apartment,"Dubai, United Arab Emirates",100.00%\nFunded,Gross Yield 10.68%,Expected return55.25%,55.25%,Dividend 8.79%,"Starts from 50,001.35 AED",Dividends Frequency Monthly,Monthly,Funding Target (AED),VIEW DETAILS

### it's better to remove the nan values

In [43]:
df.dropna(how='any',axis=0,inplace=True)

In [44]:
df.reset_index(inplace=True)

In [ ]:
df.columns

Index(['index', 'Field2', 'Title', 'Image', 'funded', 'Number', 'pill',
       'pill1', 'block80', 'Address', 'Keywords', 'Info', 'Info2', 'Info3',
       'Info4', 'Info5', 'Info6', 'Info7', 'Price', 'View'],
      dtype='object')

In [ ]:
df['index']

0      0
1      1
2      2
3      3
4      4
      ..
72    72
73    73
74    74
75    75
76    76
Name: index, Length: 77, dtype: int64

## i think we need to drop the index column cus dataframes already have indexes

In [45]:
df.drop(columns='index',axis=1,inplace=True)

In [ ]:
df['Field2'].value_counts()

780,000.00    77
Name: Field2, dtype: int64

## Field2 column is pretty vagues, doesnot give much information,  has only one value

In [ ]:
df['Title']

0       385,000.00
1     1,250,000.00
2     1,227,500.00
3       530,000.00
4       780,000.00
          ...
72      683,000.00
73      841,500.00
74      475,000.00
75      500,000.00
76      365,000.00
Name: Title, Length: 77, dtype: object

In [46]:
func=lambda x : x.replace('.', '', ).replace(',','').isdigit()
df['Title'].apply(func)

0     True
1     True
2     True
3     True
4     True
      ...
63    True
64    True
65    True
66    True
67    True
Name: Title, Length: 68, dtype: bool

## Clearly, the `title` column has integer values but its type is object

In [47]:
change=lambda x: x.replace(",",'').replace('.00','')
df['Title']=df['Title'].apply(change)

In [48]:
df['Title']=df['Title'].apply(pd.to_numeric)

In [ ]:
df['funded'].value_counts()

FUNDED    73
EXITED     1
Name: funded, dtype: int64

## `funded `column has only one value funded so replacing it with `yes`

In [49]:
df['funded']='Yes'
df['funded']

0     Yes
1     Yes
2     Yes
3     Yes
4     Yes
     ...
63    Yes
64    Yes
65    Yes
66    Yes
67    Yes
Name: funded, Length: 68, dtype: object

In [ ]:
df['Number'].value_counts()

## changing the column name numbers to investers

In [50]:
df.rename({'Number':'Investors'},axis=1,inplace=True)

In [ ]:
df

In [51]:
func=lambda x: x.replace(' investors','')
df['Investors']=df['Investors'].apply(func)

In [52]:
df['Investors']=df['Investors'].apply(pd.to_numeric)

In [ ]:
df['pill'].value_counts()

Rented          40
Holiday Home    26
Vacant           2
Name: pill, dtype: int64

In [ ]:
df['pill1'].value_counts()

 Studio         39
 1 Bed          20
2 Beds           5
Vacant           3
Holiday Home     1
Name: pill1, dtype: int64

In [55]:
df['Address'].value_counts()

Dubai, United Arab Emirates    68
Name: Address, dtype: int64

## This means this data is only about Dubai

In [56]:
df['Keywords']=df['Keywords'].apply(lambda x: x.replace("\nFunded",'').replace('.00',''))
df.rename({'Keywords':'Funded'},axis=1,inplace=True)

In [ ]:
df['Info'].apply(lambda x: 'Gross Yield' in x).sum()

68

In [57]:
df['Info']=df['Info'].apply(lambda x:x.replace("Gross Yield ",''))
df.rename({'Info':'Gross_Yield'},axis=1,inplace=True)

In [58]:
df['Info2']=df['Info2'].apply(lambda x:x.replace("Expected return",'').replace('.00',''))
df.rename({'Info2':'Expected_return'},axis=1,inplace=True)

In [59]:
df['Info3']=df['Info3'].apply(lambda x: x.replace('.00',''))

In [ ]:
df['Expected_return'].value_counts()

 0%        16
 45%       13
 40%        8
 50%        6
 48%        6
 53%        4
 47.27%     2
 35%        1
 44%        1
 46%        1
 50.50%     1
 38%        1
 41.55%     1
 46.83%     1
 49.57%     1
 49%        1
 42%        1
 43%        1
 46.24%     1
 44.41%     1
Name: Expected_return, dtype: int64

In [ ]:
df['Info3'].value_counts()

0%        16
45%       13
40%        8
50%        6
48%        6
53%        4
47.27%     2
35%        1
44%        1
46%        1
50.50%     1
38%        1
41.55%     1
46.83%     1
49.57%     1
49%        1
42%        1
43%        1
46.24%     1
44.41%     1
Name: Info3, dtype: int64

## clearly, `df['Info3'] `is identical to `df['Expected_return']`

In [60]:
df.drop(columns=['Info3'],inplace=True)

In [ ]:
df['Info4'].value_counts()

 Dividend 7.62%     3
 Dividend 6.17%     2
 Dividend 6.54%     2
 Dividend 8.04%     2
 Dividend 7.35%     2
 Dividend 7.40%     2
 Dividend 7.09%     2
 Dividend 11.62%    2
 Dividend 5.06%     1
 Dividend 7.96%     1
 Dividend 8.92%     1
 Dividend 6.60%     1
 Dividend 7.87%     1
 Dividend 5.17%     1
 Dividend 7.91%     1
 Dividend 7.13%     1
 Dividend 8.52%     1
 Dividend 9.34%     1
 Dividend 7.71%     1
 Dividend 7.17%     1
 Dividend 6.74%     1
 Dividend 7.21%     1
 Dividend 7.15%     1
 Dividend 7.20%     1
 Dividend 10.61%    1
 Dividend 8.81%     1
 Dividend 7.89%     1
 Dividend 7.50%     1
 Dividend 9.08%     1
 Dividend 9.58%     1
 Dividend 6.85%     1
 Dividend 6.89%     1
 Dividend 7.70%     1
 Dividend 7.27%     1
 Dividend 7.60%     1
 Dividend 10.42%    1
 Dividend 8.10%     1
 Dividend 11.02%    1
 Dividend 11.27%    1
 Dividend 10.95%    1
 Dividend 11.82%    1
 Dividend 8.90%     1
 Dividend 8.13%     1
 Dividend 7.29%     1
 Dividend 8.06%     1
 Dividend 8.62%     1
 Dividend 7.63%     1
 Dividend 8.22%     1
 Dividend 8.44%     1
 Dividend 7.14%     1
 Dividend 7.58%     1
 Dividend 7.84%     1
 Dividend 5.72%     1
 Dividend 10.50%    1
 Dividend 7.08%     1
 Dividend 7.97%     1
 Dividend 10.15%    1
 Dividend 7.75%     1
 Dividend 8.00%     1
Name: Info4, dtype: int64

In [ ]:
df['Info4']=df['Info4'].apply(lambda x:x.replace("Dividend ",''))
df.rename({'Info4':'Dividend'},axis=1,inplace=True)

In [ ]:
df['Dividend']

0       9.34%
1      10.15%
2      10.42%
3       8.10%
4      11.02%
       ...
63      9.58%
64      6.85%
65      8.00%
66      8.04%
67      6.54%
Name: Dividend, Length: 68, dtype: object

In [ ]:
df['Info5'].value_counts()

 Starts from 480.00 AED      3
 Starts from 468.00 AED      2
 Starts from 462.50 AED      2
 Starts from 4,998.00 AED    2
 Starts from 4,993.20 AED    2
 Starts from 476.00 AED      2
 Starts from 4,988.00 AED    2
 Starts from 100.00 AED      1
 Starts from 986.00 AED      1
 Starts from 994.50 AED      1
 Starts from 48.00 AED       1
 Starts from 150.00 AED      1
 Starts from 4,982.00 AED    1
 Starts from 399.00 AED      1
 Starts from 440.00 AED      1
 Starts from 229.50 AED      1
 Starts from 953.82 AED      1
 Starts from 4,992.00 AED    1
 Starts from 520.00 AED      1
 Starts from 4,895.00 AED    1
 Starts from 4,959.50 AED    1
 Starts from 2,520.00 AED    1
 Starts from 2,430.00 AED    1
 Starts from 1,890.00 AED    1
 Starts from 5,022.00 AED    1
 Starts from 98.00 AED       1
 Starts from 87.00 AED       1
 Starts from 126.00 AED      1
 Starts from 5,038.80 AED    1
 Starts from 5,014.00 AED    1
 Starts from 5,022.50 AED    1
 Starts from 5,005.00 AED    1
 Starts from 36.50 AED       1
 Starts from 972.00 AED      1
 Starts from 475.00 AED      1
 Starts from 735.00 AED      1
 Starts from 462.56 AED      1
 Starts from 462.60 AED      1
 Starts from 501.60 AED      1
 Starts from 212.50 AED      1
 Starts from 441.00 AED      1
 Starts from 234.00 AED      1
 Starts from 438.00 AED      1
 Starts from 70.00 AED       1
 Starts from 110.00 AED      1
 Starts from 432.00 AED      1
 Starts from 120.00 AED      1
 Starts from 486.00 AED      1
 Starts from 494.70 AED      1
 Starts from 85.00 AED       1
 Starts from 1,998.00 AED    1
 Starts from 250.00 AED      1
 Starts from 1,925.00 AED    1
 Starts from 542.50 AED      1
 Starts from 462.38 AED      1
 Starts from 44.29 AED       1
 Starts from 5,000.00 AED    1
 Starts from 480.24 AED      1
 Starts from 5,000.10 AED    1
 Starts from 4,985.90 AED    1
Name: Info5, dtype: int64

In [61]:
df['Info5']=df['Info5'].apply(lambda x:x.replace("Starts from ",'').replace('.00 AED',''))
df.rename({'Info5':'Starting_Price(AED)'},axis=1,inplace=True)

In [ ]:
df['Starting_Price(AED)']

0               468
1        480.24 AED
2               440
3        462.38 AED
4        462.60 AED
          ...
63     5,038.80 AED
64            5,014
65     5,022.50 AED
66            5,005
67     4,985.90 AED
Name: Starting_Price(AED), Length: 68, dtype: object

In [62]:
df['Starting_Price(AED)']=df['Starting_Price(AED)'].apply(lambda x:x.replace(' AED',''))

In [ ]:
df['Info6'].value_counts()

 Dividends Frequency Monthly    68
Name: Info6, dtype: int64

In [63]:
df['Info6']=df['Info6'].apply(lambda x:x.replace("Dividends Frequency ",''))

df.rename({'Info6':'Dividends Frequency'},axis=1,inplace=True)

In [ ]:
df['Dividends Frequency']

0      Monthly
1      Monthly
2      Monthly
3      Monthly
4      Monthly
        ...
63     Monthly
64     Monthly
65     Monthly
66     Monthly
67     Monthly
Name: Dividends Frequency, Length: 68, dtype: object

In [ ]:
df['Info7'].value_counts()

Monthly    68
Name: Info7, dtype: int64

---
## `df['Info7'] ` is same as `df['Dividents frequency']`

---

In [64]:
df.drop(columns=['Info7'],inplace=True)

In [ ]:
df['Price'].value_counts()

Funding Target (AED)    68
Name: Price, dtype: int64

In [65]:
df.rename({'Price':'Funding_Target(AED)'},axis=1,inplace=True)

In [66]:
df['Funding_Target(AED)']='Not Assigned'

In [ ]:
df['View'].value_counts()

VIEW DETAILS    68
Name: View, dtype: int64

### As no details are available, so dropping the column

In [67]:
df.drop(columns=['View'],inplace=True)

## dropping the `Field2` column as well

In [68]:
df.drop(columns=['Field2'],inplace=True)

In [ ]:
df.columns

Index(['Title', 'Image', 'funded', 'Investors', 'pill', 'pill1', 'block80',
       'Address', 'Funded', 'Gross_Yield', 'Expected_return', 'Dividend',
       'Starting_Price(AED)', 'Dividends Frequency', 'Funding_Target(AED)'],
      dtype='object')

In [ ]:
df.head()

,Title,Image,funded,Investors,pill,pill1,block80,Address,Funded,Gross_Yield,Expected_return,Dividend,Starting_Price(AED),Dividends Frequency,Funding_Target(AED)
0,780000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,178,Holiday Home,Studio,"Studio in 8 Boulevard Walk, Downtown","Dubai, United Arab Emirates",100%,14.91%,45%,9.34%,468,Monthly,Not Assigned
1,690000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,176,Rented,Holiday Home,"Fantastic 1-Bedroom in Dream Towers, Dubai Marina","Dubai, United Arab Emirates",100%,16.86%,45%,10.15%,480.24,Monthly,Not Assigned
2,1100000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,181,Holiday Home,Studio,"Rare Studio in Murjan 2, JBR","Dubai, United Arab Emirates",100%,15.51%,45%,10.42%,440,Monthly,Not Assigned
3,385000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,106,Vacant,Studio,"Modern Studio in Bloom Towers, JVC","Dubai, United Arab Emirates",100%,9.61%,40%,8.10%,462.38,Monthly,Not Assigned
4,600000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,86,Holiday Home,1 Bed,"1-Bedroom in Dream Towers, Dubai Marina","Dubai, United Arab Emirates",100%,18.09%,45%,11.02%,462.60,Monthly,Not Assigned

## seems like `block80` column is an address

In [69]:
df['block80']=df['block80'].apply(lambda x:x.replace("(",'').replace(')',''))

In [70]:
df['block80']=df['block80'].apply(lambda x:x.replace("BHK",'').replace('Bed','').replace(",",'').replace("1",'').replace("-",'').replace("2",''))

In [71]:
df['block80']=df['block80'].apply(lambda x:" ".join(x.split()))

In [73]:
def get_address(string):
  list_str=[i for i in string.split(' ')]
  list_str=list_str[-3:]
  string=''
  string=' '.join(list_str)
  return string

In [74]:
df['block80']=df['block80'].apply(get_address)

In [75]:
df['block80']=df['block80'].apply(lambda x:x.replace("in ",'').replace('by ','').replace("5",'').replace("4",'').replace("Balconies",'').replace("bedroom",''))

In [76]:
df['block80']=df['block80'].apply(lambda x:" ".join(x.split()))

In [84]:
import re

In [77]:
addr={'JLT':'Jumehra Lake Tower','JBR':'Jumehra Beach Residence','JVC':'Jumehra Village Circle'}
def replace_func(string):
  for word, replacement in addr.items():
    string = re.sub(word, replacement, string)
  return string

In [78]:
df['block80']=df['block80'].apply(replace_func)

In [79]:
for i in df.block80:
  print(i)

Boulevard Walk Downtown
Towers Dubai Marina
Murjan Jumehra Beach Residence
Bloom Towers Jumehra Village Circle
Towers Dubai Marina
Boulevard Walk Downtown
Walk Downtown Dubai
Dubai Marina
Downtown Dubai
Tower Dubai Marina
Dubai Silicon Oasis
MBR City
Production City IMPZ
Jumeirah Lake Towers
Dubai Marina
Downtown Dubai
Dubai Marina
Dubai Silicon Oasis
Jumeirah Village Circle
Dubai Marina
MBR City
Turia The Views
Burj Khalifa View
Dubai Marina
A Downtown Dubai
Ellington Jumehra Village Circle
Dubai South
Residence Jumehra Beach Residence Studio
Tower Jumehra Village Circle
One Dubai Marina
Boulevard Downtown
Tower Downtown Dubai
6 Dubai South
Dubai South
Dubai South
Silicon Gates DSO
Arjan
Jumehra Lake Tower 9th floor
Jumehra Lake Tower 6th floor
Studio Jumehra Village Circle
with Large Patio
Popular Jumehra Village Circle
Production City
Downtown DUBAI
Furnished Marina Studio
Marina Residence One
Studio Tower C
DSO
Waha Villa community
Living Gardens
Silicon Oasis
popular Dubai Marina
Belgravia Ellington
Place Ellington
Silicon Gates DSO
Emaar's Ghozlan
Spirit Tower second
Spirit Tower One
Lakeside Tower Studio
Sports City Studio
Townhouse Nakheel
Dubai Properties
Diamond Developers Studio
Dubai Properties' Remraam
The Greens Studio
Remraam Studio
Smart Residence Jumehra Village Circle
Al Arta

In [80]:
df.rename({'block80':'Address'},axis=1,inplace=True)

In [ ]:
df

,Title,Image,funded,Investors,pill,pill1,Address,Address,Funded,Gross_Yield,Expected_return,Dividend,Starting_Price(AED),Dividends Frequency,Funding_Target(AED)
0,780000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,178,Holiday Home,Studio,Boulevard Walk Downtown,"Dubai, United Arab Emirates",100%,14.91%,45%,9.34%,468,Monthly,Not Assigned
1,690000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,176,Rented,Holiday Home,Towers Dubai Marina,"Dubai, United Arab Emirates",100%,16.86%,45%,10.15%,480.24,Monthly,Not Assigned
2,1100000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,181,Holiday Home,Studio,Murjan Jumehra Beach Residence,"Dubai, United Arab Emirates",100%,15.51%,45%,10.42%,440,Monthly,Not Assigned
3,385000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,106,Vacant,Studio,Bloom Towers Jumehra Village Circle,"Dubai, United Arab Emirates",100%,9.61%,40%,8.10%,462.38,Monthly,Not Assigned
4,600000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,86,Holiday Home,1 Bed,Towers Dubai Marina,"Dubai, United Arab Emirates",100%,18.09%,45%,11.02%,462.60,Monthly,Not Assigned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,442000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,33,Rented,1 Bed,Dubai Properties' Remraam,"Dubai, United Arab Emirates",100%,12.44%,0%,9.58%,"5,038.80",Monthly,Not Assigned
64,460000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,34,Rented,Studio,The Greens Studio,"Dubai, United Arab Emirates",100%,9.56%,0%,6.85%,"5,014",Monthly,Not Assigned
65,287000,https://my.smartcrowd.ae/img/dummy-thumb.jpg,Yes,20,Rented,Studio,Remraam Studio,"Dubai, United Arab Emirates",100%,11.49%,0%,8.00%,"5,022.50",Monthly,Not Assigned
66,455000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,36,Rented,1 Bed,Smart Residence Jumehra Village Circle,"Dubai, United Arab Emirates",100%,10.98%,0%,8.04%,"5,005",Monthly,Not Assigned
67,683000,https://sc-file-storage.my.smartcrowd.ae/files...,Yes,25,Rented,1 Bed,Al Arta,"Dubai, United Arab Emirates",100%,9.37%,0%,6.54%,"4,985.90",Monthly,Not Assigned

## dropping the `funded` column because it is ambigous

In [81]:
df.drop(columns=['funded'],axis=1,inplace=True)

In [82]:
df.columns=['Title','Image','Investors','pill','pill1',
            'Local_Address','Place','Funded','Gross_Yield','Expected_return',
            'Dividend','Starting_Price(AED)','Dividends Frequency','Funding_Target(AED)']

## Finally Rendering the image

In [89]:

from IPython.display import Image, HTML

def path_to_image_html(path):
  return '<img src="'+ path + '" style=max-height:124px;"/>'

df=HTML(df.to_html(escape=False ,formatters=dict(Image=path_to_image_html)))
df

In [89]:
df